@import "../../scss_variables/variables.scss";

.description__block {
  margin-bottom: 1rem;
  flex-basis: 50%;
  overflow: hidden;

  p {
    margin-block: 0;
  }

  .description__title {
    cursor: pointer;
    user-select: none;
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 0.2em 1em;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .description__content {
    overflow: hidden;
    background-color: $background-light;
    color: $color-primary;
    padding: 1rem;
    border-radius: 0.7rem;
    position: relative;
  }

  .description__title.active .fa-chevron-up {
    transform: rotate(180deg);
  }
}