$color-primary:#ff6060;
$color-secondary:#863535 ;
$color-tertiary: white;
$grid-background-darken:rgba(0,0,0,0.120);
$grid-background-lighter: white;
$footer-background:black;
$background-light: #f6f6f6;