@import "../scss_variables/variables.scss";

.apartment-page{
    color: $color-primary;
    .apartment__description__component {
        display:flex;
        gap:1rem;
        overflow: hidden;
        @media screen and (width<= 768px) {
            flex-direction: column;
        }
       
    }
    
}

