@import "../../scss_variables/variables.scss";


.navbar {
    padding: 2rem 20rem;
    @media screen and (width <= 1600px) {
        padding: 2rem 10rem;
     }
     @media screen and (width <= 1400px) {
        padding: 2rem 5rem;
     }
     @media screen and (width <= 768px) {
        padding:1rem;
     }
    display: flex;
    align-items: center;
    
    color: $color-primary;
    font-weight: 700;
    gap:2rem;
    @media screen and (width<=768px) {
        text-transform: uppercase;
        font-weight: 400;
    }
    /* enfants directs de Navbar*/
    & > *:first-child{
    margin-right:auto;
}

    & a{
        text-decoration: none;
        color:$color-primary;
        font-size: 24px;
        font-weight: 400;
        @media screen and (width<=768px) {
            font-size: 16px;
        }
        &.active {/* on prend une classe active grâce aux Navlink*/
            text-decoration: underline;
        }
        &:hover{
            text-decoration: underline;
        }
        }
}


