@import "../scss_variables/variables.scss";

.description__block{
    margin-bottom: 1rem;
    flex-basis:50%;
    p{
        margin-block:0;
    }

    .description__title{
    background-color: $color-primary;
    color:$color-tertiary;
    padding:0.2em 1em;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
        font-size:2rem;
        cursor: pointer;
    }
}
.description__content{
    background-color: $background-light ;
    color:$color-primary;
    padding:1rem;
    border-radius: 0.7rem;
    position:relative;
    top:-0.3rem;
    z-index:-1;
}
}