@import "../../scss_variables/variables.scss";


.banner{
    position:relative;
    background-position: center;
    background-size: cover;
    max-width:100vw ;
    padding-inline: 2rem;
    background-image: url("bannerimg.png");
    min-height: 220px;
    max-width:100%;
    margin: auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color:$color-tertiary;
    margin-bottom: 2rem;
  
}

.banner::before{
    content:"";
    position:absolute;
    border-radius: 2rem;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    background-color:rgba(0,0,0,0.5) ;
   
}

h2{
    position: relative;
    font-weight: 400;
    font-size: 48px;
    @media screen and (width <= 800px) {
        font-size: 36px;
    }
    @media screen and (width <= 600px) {
        font-size: 24px;
    }
    @media screen and (width <= 420px) {
        font-size: 16px;
    }
}