@import "../../scss_variables/variables.scss";

.banner {
  position: relative;
  background-position: center;
  background-size: cover;
  max-width: 100vw;

  min-height: 220px;
  max-width: 100%;
  margin: auto;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  color: $color-tertiary;
  margin-bottom: 2rem;

  &-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 2rem;
  }



  &::before {
    content: "";
    position: absolute;
    border-radius: 2rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }



  h2 {
    position: absolute;
    font-weight: 400;
    font-size: 48px;

    @media screen and (max-width: 800px) {
      font-size: 36px;
    }

    @media screen and (max-width: 600px) {
      font-size: 24px;
    }

    @media screen and (max-width: 420px) {
      font-size: 16px;
    }
  }
}

.banner__img {

  margin-bottom: 2rem;

  img {
    z-index: 0;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;

  }
}